body {
    background: #e6e6e6;
    font-family: "Montserrat", sans-serif;
    margin: 20px;
}

.city {
    text-align: center;
    font-size: 30px;
}

.temperature {
    font-size: 40px;
    margin-right: 10px;
    align-items: center;
}

.weather_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temperature_and_icon {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    align-items: center;
}

.additional_data {
      display: flex;
      align-items: center;
      gap: 20px;
}

.additional_data p{
      display: inline-block;
      margin: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
}

.today-weather, .weekly-weather {
    margin-bottom: 20px;
}

.weekly-weather-container {
    font-family: "Montserrat", serif;
    font-weight: 400;
    border-radius: 12px;
    background-color: #ffffff;
    position: relative;
    padding: 16px;

}

.scrolling-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: scroll-behavior 0.5s ease-in-out;
}

.scrolling-container::-webkit-scrollbar {
  display: none;
}

.day-weather {
    min-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /*pointer-events: none;*/
    transition: transform 0.2s ease-in-out;

}


.day-weather img{
    pointer-events: none;
}

.day-weather:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.weekly-weather-container:active .day-weather:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.level_2 {
    display: inline-block;
    margin: 0 12px 0 0;
    vertical-align: middle;
}


.weather_visual {
    font-size: 15px;
    line-height: 1.2
}